.PokemonList__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: var(--spacing);
}

.PokemonList__item {
  width: calc(100% / 3 - var(--spacing));
  height: 100%;

  display: grid;
  place-items: center;
  align-content: baseline;
  
}

@media only screen and (max-width: 992px) {
  .PokemonList__item {
    width: calc(100% / 2 - var(--spacing));
  }  
}

@media only screen and (max-width: 576px) {
  .PokemonList__item {
    width: 100%;
  }  
}
